<div class="slide2-introduction">
    <p class="p1">全方位提升网店权重 · 一站式服务</p>
    <p class="p2">一站式电商运营工具，免费使用；全面分析直通车数据，迅速调整；<br />实时监控对手店铺，智能分析对手店铺；火眼金睛精准查询旺旺号信誉</p>
    <ul class="introduction-list">
        <li>
            <div class="introduction-list-title">
                <img src="../assets/img/list-1.png">
                <p>急速黑搜</p>
            </div>
            <p class="introduction-list-con">
                分析竞品转化率、收藏加购率、UV价值合理利用竞品引流词、成交词做刷单计划
            </p>
            <div class="introduction-list-foot">
                <i class="introduction-list-video"></i>
                <span>视频教程</span>
                <div class="introduction-list-open">了解更多</div>
            </div>
        </li>
        <li>
            <div class="introduction-list-title">
                <img src="../assets/img/list-2.png">
                <p>黑号查询</p>
            </div>
            <p class="introduction-list-con">
                千万级别黑号数据库冠绝全网，一秒查看骗子、打假、差评提前发现，看周平均看僵尸号
            </p>
            <div class="introduction-list-foot">
                <i class="introduction-list-video"></i>
                <span>视频教程</span>
                <div class="introduction-list-open">了解更多</div>
            </div>
        </li>
        <li>
            <div class="introduction-list-title">
                <img src="../assets/img/list-3.png">
                <p>淘宝流量</p>
            </div>
            <p class="introduction-list-con">
                宝贝收藏加购，真实人工标签化流量平台真实人工搜索,访客遍布全国,深度浏览货比三家支持提升PC端、手淘无线APP流量
            </p>
            <div class="introduction-list-foot">
                <i class="introduction-list-video"></i>
                <span>视频教程</span>
                <div class="introduction-list-open">了解更多</div>
            </div>
        </li>
        <li>
            <div class="introduction-list-title">
                <img src="../assets/img/list-4.png">
                <p>直通车诊断</p>
            </div>
            <p class="introduction-list-con">
                专业导师车手一站式服务，经验丰富为卖家量身定制、实现宝贝的精准推广
            </p>
            <div class="introduction-list-foot">
                <i class="introduction-list-video"></i>
                <span>视频教程</span>
                <div class="introduction-list-open">了解更多</div>
            </div>
        </li>
        <li>
            <div class="introduction-list-title">
                <img src="../assets/img/list-5.png">
                <p>干货分享</p>
            </div>
            <p class="introduction-list-con">
                为您提供免费电子商务培训视频，图文视频结合更汇集有其它数十家电商学院视频教程指导
            </p>
            <div class="introduction-list-foot">
                <i class="introduction-list-video"></i>
                <span>视频教程</span>
                <div class="introduction-list-open">了解更多</div>
            </div>
        </li>
        <li class="last">
            <p class="more">·更多功能免费使用·</p>
            <p class="download"><a [href]="downloadUrl" target="_blank">立即下载</a></p>
            <p class="registered" (click)="changeSlide(false)">免费注册</p>
        </li>
    </ul>
</div>
