.slide1 {
  background: url("../assets/img/bg-1.jpg") no-repeat 0 0;
  background-size: cover;
  min-width: 1280px;
}
.slide1 .slide1-title {
  width: 1280px;
  margin: 0 auto;
}
.slide1 .slide1-title span {
  font-size: 26px;
  color: #fff;
}
.slide1 .slide1-title ul {
  float: right;
}
.slide1 .slide1-main {
  position: relative;
  height: 75vh;
}
.slide1 .slide1-left {
  position: absolute;
  height: 100%;
  width: 60%;
  left: -10%;
}
.slide1 .slide1-left img {
  width: 100%;
  height: auto;
}
.slide1 .slide1-right {
  position: absolute;
  top: 20%;
  right: 180px;
}
.slide1 .slide1-right .p1 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 24px;
}
.slide1 .slide1-right .p2 {
  font-size: 72px;
  color: #fff;
  margin-bottom: 55px;
}
.slide1 .slide1-right .download {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 220px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  border-radius: 30px;
  color: #df844b;
  font-size: 26px;
  cursor: pointer;
}
.slide1 .slide1-right .registered {
  margin-left: 40px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 220px;
  height: 60px;
  line-height: 60px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}
