<div [mnFullpage]="options">
    <div class="section">
        <div class="slide slide1" [style.background]="bgImg">
            <div class="slide1-title">
                <img [src]="serviceInfo.logo_white" (click)="redirectToHome()" />
                <span (click)="redirectToHome()">{{serviceInfo.name}}</span>
                <ul>
                    <li (click)="redirectToHome()">官网首页</li>
                    <li (click)="redirectToIntroduction()">功能介绍</li>
                    <li (click)="redirectToRegistered()">免费注册</li>
                </ul>
            </div>
            <div class="slide1-main">
                <div class="slide1-left wow bounceInLeft">
                    <img [src]="serviceInfo.home_info_image">
                </div>
                <div class="slide1-right wow bounceInRight">
                    <p class="p1">{{serviceInfo.name}}</p>
                    <p class="p2">专业电商工具平台</p>
                    <p class="p3">
                        <span class="download"><a [href]="downloadUrl" target="_blank">立即下载</a></span>
                        <span class="registered" (click)="redirectToRegistered()">免费注册</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="slide slide2">
            <div class="slide2-title">
                <img [src]="serviceInfo.logo_black" (click)="redirectToHome()" />
                <span (click)="redirectToHome()">{{serviceInfo.name}}</span>
                <ul>
                    <li (click)="redirectToHome()">官网首页</li>
                    <li routerLink="/introduction" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">功能介绍</li>
                    <li routerLink="/registered" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">免费注册</li>
                    <li routerLink="/helpCenter" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">帮助中心</li>
                </ul>
            </div>
            <div class="slide2-main">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="copyright">{{serviceInfo.copyright_info}}</div>
    </div>
</div>